{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "quote-props": "off",
    "valid-jsdoc": "off",
    "max-len": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
