$header-height: 34px;
$toolbar-height: 34px;
$formula-height: 34px;
$fx-width: 80px;
$select-color: #1a73e8;
$gray-main: #666;
$gray-back: #ccc;

$table-background-color: #f3f3f3;
$column-border-color: #c0c0c0;
$cell-border-color: #e2e3e3;

$standart-cell-width: 120px;
$standart-cell-height: 77px;
