@import "variables";
@import "mixins";

.excel__header {
  display: flex;
  height: $header-height;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;

  input {
    height: 20px;
    line-height: 22px;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $gray-main;
    }
    &:focus {
      border: 2px solid $select-color;
    }
  }

  .icons {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
      @include button($gray-back);
    }
  }
}

.excel__header__ghost {
  height: $header-height;
}

.excel__header__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.box-shadow {
  box-shadow: 0 5px 10px -10px black;
}
