@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;

  color: #5f6368;

  overflow-x: auto;
  //#f8f9fa
  //#e8eaed

  .row__main {
    display: flex;
    justify-self: center;
    align-items: center;
    overflow-x: auto;
    height: 24px;

    .columns {
      display: flex;
      justify-self: center;
      align-items: center;
      height: 100%;
    }

    .column, .row__info {
      border-right: 1px solid #c0c0c0;
      border-bottom: 2px solid #c0c0c0;
      border-top: none;
      border-left: none;
      background: #f8f9fa;
    }
    
    .row__info {
      height: 100%;
      min-width: $fx-width;
      border-right: 2px solid #c0c0c0;
    }

    .column {
      width: 120px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .row {
    height: 24px;
    display: flex;
    align-items: center;

    .ceil, .ceil__info {
      border: 1px solid #c0c0c0;
      border-left: none;
      border-top: none;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ceil__info {
      background: #f8f9fa;
      width: $fx-width;
      border-right: 2px solid #c0c0c0;
    }

    .ceil {
      width: 120px;
      outline: none;
      color: black;

      &.selected {
        border: 2px solid #1a73e8;
      }
    }
  }
}