@import "variables";
@import "mixins";

.excel__table {
  user-select: none;
  flex: 1 1 auto;
  overflow: hidden;

  .container {
    display: flex;
    height: 100%;

    .filler {
      &[data-filler=horizontal] {
        height: 100%;
      }
      &[data-filler=vertical] {
        width: 100%;
      }
    }

    .NWPlug, .rowsHeadline, .NEPlug, .columnsHeadline, .table, .scrollRight, .SWPlug, .scrollBottom, .SEPlug {
      border: 1px solid black;
      width: 100%;
    }

    .left, .middle, .right {
      display: flex;
      flex-direction: column;
    }

    .NWPlug, .columnsHeadline, .NEPlug {
      flex: 0 0 $standart-cell-height;
    }

    .rowsHeadline, .table, .scrollRight {
      flex-grow: 1;
    }

    .SWPlug, .scrollBottom, .SEPlug {
      flex: 0 0 12px;
    }

    .left {
      flex: 0 0 80px;
    }

    .middle {
      flex-grow: 1;
    }

    .right {
      flex: 0 0 12px;
    }

    .NWPlug {
      background: $table-background-color;
      border: 3px solid $column-border-color;
      border-top: 1px solid $column-border-color;
      border-left: 1px solid $column-border-color;
    }

    .columnsHeadline {
      background: $table-background-color;
      overflow: hidden;
      border: none;

      .columns {
        display: flex;
        justify-content: left;
        height: 100%;
        .column {
          flex: 0 0 $standart-cell-width;
          background: $table-background-color;
          height: 100%;
          border: 1px solid $column-border-color;
          border-left: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .NEPlug {
      border: 1px solid $cell-border-color;
      background: $table-background-color;
    }

    .rowsHeadline {
      border: none;
      background: $table-background-color;
      overflow: hidden;
      .rows {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: nowrap;
        .row {
          flex: 0 0 $standart-cell-height;
          border: 1px solid $column-border-color;
          border-top: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .table {
      background: $table-background-color;
      border: none;
      overflow: hidden;

      .rows {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: nowrap;
      }

      .cells {
        height: $standart-cell-height;
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;

        .cell {
          flex: 0 0 $standart-cell-width;
          height: 100%;
          background: white;
          border: 1px solid $cell-border-color;
          border-left: none;
          border-top: none;
          display: flex;
          align-items: center;
          padding: 2px;
          cursor: default;

          &.selected {
            border: 2px solid #1a73e8;
          }
        }
      }
    }

    .scrollRight {
      border: 1px solid $cell-border-color;
      border-top: none;
      border-bottom: none;
      padding: 0 1px;

      .verticalScroller {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background: $cell-border-color;

        &:hover {
          background: $column-border-color;
        }
      }
    }

    .SWPlug {
      border: 1px solid $column-border-color;
      background: $table-background-color;
    }

    .scrollBottom {
      border: 1px solid $cell-border-color;
      background: white;
      border-left: none;
      border-right: none;
      padding: 1px 0;
      .horizontalScroller {
        display: block;
        position: relative;
        height: 100%;
        border-radius: 6px;
        background: $cell-border-color;

        &:hover {
          background: $column-border-color;
        }
      }
    }

    .SEPlug {
      background: white;
      border: 1px solid $cell-border-color;
    }
  }
}
